:root {
  --main-color: #000028;
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --main-header-color: #DB00FF;
  --header-color: #ff0070;
  --header-extra-color: #000028;
  --hover-dec-color: rgba(255, 0, 112, 0.4)
}